@model IEnumerable<project.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        if (ViewContext.RouteData.Values["id"] == null || int.Parse(ViewContext.RouteData.Values["id"].ToString()) == item.ProductID || int.Parse(ViewContext.RouteData.Values["id"].ToString()) == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<a asp-controller="Admin" asp-action="Index">Back to list</a>
